<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinkKS.Business.Properties.Settings.LINKConnectionString"
            connectionString="Data Source=LENOVO\SQLEXPRESS;Initial Catalog=LINK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>