@model Win.UI.Models.LinkPasswordModel
@{
    ViewBag.Title = "LinkPasswordUpdate";
}

<h2>LinkPasswordUpdate</h2>
@{
    Layout = "~/Views/Shared/Link_Layout.cshtml";
}


<form method="post">
    <br><br>

    <div class="form-group row">
        <label class="control-label col-sm-1">Password</label>
        <div class="col-sm-4">
            <input class="form-control" type="password" name="password" placeholder="Şifre"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-offset-3 col-md-10">
            <button class="btn btn-default" type="submit">Güncelle</button>
        </div>
    </div>
    </form>

