@model Win.UI.Models.OneShotModel
@{
    ViewBag.Title = "OneShotUpdate";
}
<h2>OneShotUpdate</h2>
@{
    Layout = "~/Views/Shared/Link_Layout.cshtml";
}
<form method="post">
    <div class="">
    <div class="checkbox">
        <label>
            OneShot <input type="checkbox" name="OneShot" id="OneShot" value="true">
        </label>
    </div>
        </div>
    <button type="submit" class="btn btn-default">Güncelle</button>
</form>


